h1{
    color: green;
}

h2{
    color: greenyellow;
}

/*pseado Element*/
h2::first-letter{
    color: red;
}
h4::before{
    content: url(/images/mylogo.png);
}
A:link{
    color:blue;
}
a:hover{ /*เมาส์วางจะเป็นสีเเดง*/
    color: red;
}
a:visited{ /*เคยคลิกไปแล้วจะเป็นสีเหลือง*/
    color: yellow;
}